@using DoAn.Models;
@model IList<tblCoSo>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Danh sách cơ sở</h2>

        <p>
            <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="CoSo" asp-action="Create">
            <i class="bi bi-file-earmark-text me-1"></i>Thêm mới cơ sở</a>
            <section class="section dashboard">
                <div class="row">
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">
                            <div class="card-body mt-4">
                                <table class="table table-borderless datatable">
                                    <thead>
                                        <tr>
                                            <th class="col-1 text-center">#</th>
                                            <th class="col-2 text-center">Tên cơ sở</th>
                                            <th class="col-2 text-center">Địa chỉ</th>
                                            <th class="col-2 text-center">Số tòa</th>
                                            <th class="col-2 text-center">Trạng thái</th>
                                            <th class="col-1 text-center">Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var item in Model)
                                        {
                                            int SoToaKTX = 0;
                                                if (ViewBag.SoToaKTX != null && ViewBag.SoToaKTX.ContainsKey(item.CS_ID))
                                                {
                                                    SoToaKTX = ViewBag.SoToaKTX[item.CS_ID];
                                                }
                                            <tr>
                                                <td class="text-center" scope="row">@item.CS_ID</td>
                                                <td class="text-center text-primary" scope="row"><a asp-area="Admin"
                                                    asp-controller="CoSo" asp-action="Details"
                                                    asp-route-id="@item.CS_ID">@item.CS_TenCoSo</a></td>
                                                <td class="text-center" scope="row">@item.CS_DiaChi</td>
                                                <td class="text-center" scope="row">@SoToaKTX</td>
                                                <td class="text-center" scope="row">@item.CS_TrangThai</td>
                                                <td class="text-center" scope="row">
                                                    <a asp-area="Admin" asp-controller="CoSo" asp-action="Edit"
                                                        asp-route-id="@item.CS_ID" class="btn btn-primary btn-sm"
                                                        title="Sửa cơ sở"><i class="bi bi-pencil"></i></a>

                                                    <a asp-area="Admin" asp-controller="CoSo" asp-action="Delete"
                                                        asp-route-id="@item.CS_ID" class="btn btn-danger btn-sm"
                                                        title="Xóa cơ sở"><i class="bi bi-trash"></i></a>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </p>
    </div>
</main>